<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/css/app.css"> -->
    <title></title>
    <!-- Firebase -->
  	<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-app.js"></script>
  	<script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>
  </head>
  <body>
    <div id="app">
    <div>
    <img src="bpn.png" width="115" style="float: left; margin-top: -15px; margin-left:50px">
<center>
    <div>
      <h4>KEMENTRIAN AGRARIAN DAN TATA RUANG/</h4>
      <h4 style="margin-top: -20px;">BADAN PERTAHANAN NASIONAL</h4>
      <h4 style="margin-top: -20px;">KANTOR PERTANAHAN KOTA MATARAM</h4>
      <h4 style="margin-top: -20px;">PROVINSI NUSA TENGGARA BARAT</h4>
      <p style="margin-top: -20px;">Jalan Pariwisata No.61 Mataram, Telpon (0370) 631734 Fax. (0370) 633924</p>
      <hr size="5" style="color:black; background-color:black">
    </div>
    </center>
</div>
<div style="margin-bottom:30px">
  <center>
    <h5 style="margin-top:3px">SURAT TUGAS</h5>
    <hr size="3" width="13%" style="color:black; background-color:black; margin-top:-20px">
    <h5 style="margin-top:-8px; margin-bottom:10px">Nomor : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp/ST-52.71.500/&nbsp&nbsp&nbsp&nbsp&nbsp/</h5>
  </center>

    <table style="margin-top:-10px">
      <tr>
        <td valign='top'>Menimbang </td>
        <td valign='top'>a. </td>
        <td>Bahwa untuk menjamin Keputusan Hak Atas Tanah perlu dilaksanakan Pemeriksaan dan Peninjauan Fisik atas Tanah yang dimohon.</td>
      </tr>
      <tr>
        <td></td>
        <td valign='top'>b. </td>
        <td>Bahwa  sehubungan denga hal tersebut maka Kepala Kantor Pertanahan Kota Mataram menugaskan Pegawai di bawah ini sebagai Anggota Panitia Pemeriksaan Tanah.</td>
      </tr>
      <tr>
        <td valign='top'>Dasar </td>
        <td valign='top'>1. </td>
        <td>Undang-Undang Nomor 5 Tahun 1960; </td>
      </tr>
      <tr>
        <td valign='top'></td>
        <td valign='top'>2. </td>
        <td>Peraturan Pemerintah Nomor 24 Tahun 1997;</td>
      </tr>
      <tr>
        <td valign='top'></td>
        <td valign='top'>3. </td>
        <td>Peraturan Pemerintah No. 128 Tahun 2015;</td>
      </tr>
      <tr>
        <td valign='top'></td>
        <td valign='top'>4. </td>
        <td>Peraturan Presiden Republik  Indonesia Nomor 10 Tahun 2006 jo. Nomor 20 Tahun 2015;</td>
      </tr>
      <tr>
        <td valign='top'></td>
        <td valign='top'>5. </td>
        <td>Peraturan Presiden Republik  Indonesia Nomor 17 Tahun 2015;</td>
      </tr>
      <tr>
        <td valign='top'></td>
        <td valign='top'>6. </td>
        <td>Peraturan Menteri Negara Agraria/Kepala Badan Pertanahan Nasional Nomor  3 Tahun 1997;</td>
      </tr>
      <tr>
        <td valign='top'></td>
        <td valign='top'>7. </td>
        <td>Peraturan Menteri Negara Agraria/Kepala Badan Pertanahan Nasional  Nomor 9 Tahun 1999;</td>
      </tr>
      <tr>
        <td valign='top'> </td>
        <td valign='top'>8. </td>
        <td>Peraturan Kepala Badan Pertanahan Nasional Republik Indonesia Nomor 4 Tahun 2006;</td>
      </tr>
      <tr>
        <td valign='top'> </td>
        <td valign='top'>9. </td>
        <td>Peraturan Kepala Badan Pertanahan Nasional Republik Indonesia Nomor 7 Tahun 2007;</td>
      </tr>
      <tr>
        <td valign='top'> </td>
        <td valign='top'>10. </td>
        <td>Peraturan Kepala Badan Pertanahan Nasional Republik Indonesia Nomor 1 Tahun 2010;</td>
      </tr>
      <tr>
        <td valign='top'> </td>
        <td valign='top'>11. </td>
        <td>Peraturan Kepala Badan Pertanahan Nasional Republik Indonesia Nomor 1 Tahun 2011;</td>
      </tr>
    </table>

    <center>
      <h5 style="margin-top: 3px; margin-bottom:3px">MEMBERI TUGAS</h5>
    </center>
    <table style="margin-top:0px">
      <tr>
        <td>Kepada</td>
        <td>A. </td>
        <td>1. </td>
        <td>Nama : </td>
        <td>H. SIGIT SUMARSONO, S.Sos</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>NIP : </td>
        <td>19621227 198603 1 003</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Jabatan : </td>
        <td>Kepala Seksi Pengadaan Tanah</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>2. </td>
        <td>Nama : </td>
        <td>BAIQ SRI YULUM ANDRIANI, S.ST</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>NIP : </td>
        <td>19770917 199803 2 002</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Jabatan : </td>
        <td>Kasubsi Fasilitasi Pengadaan Tanah dan Penetapan Tanah Pemerintah</td>
      </tr>
    </table>
    <table style="margin-top:0px">
      <tr v-for="c in items">
        <td valign='top'>Untuk</td>
        <td valign='top'> : </td>
        <td>Mengadakan Pemeriksaan dan Peninjauan Fisik atas Permohonan Hak Pakai dengan Surat Ukur tanggal {{ c.tanggalSu }}  Nomor : {{ c.nomorSu }}/Mandalika/{{ c.tahunSu }}, atas nama  {{ c.pemohon }} dan mengambil keputusan yang dituangkan dalam Risalah Pemeriksaan Tanah (Konstatering Repport), mengenai Data Yuridis dan Data Fisik yang terletak di Kelurahan Mandalika, Kecamatan Sandubaya, Kota Mataram, pada</td>
      </tr>
    </table>
    <table style="margin-top:0px">
      <tr v-for="c in items">
        <td valign='top'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
        <td valign='top'>Hari </td>
        <td> : </td>
        <td> {{ c.hariTu }} </td>
      </tr>
      <tr v-for="c in items">
        <td valign='top'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
        <td valign='top'>Tanggal </td>
        <td> : </td>
        <td> {{ c.tanggalPe }} </td>
      </tr>

    </table>
    Demikian Surat Tugas ini dibuat untuk dapat dilaksanakan sebagaimana mestinya.</td>
<br>
<br>
<center>
<a style="margin-left: 60%" v-for="c in items">Mataram, {{ c.tanggalPe }}</a>
<a style="margin-left: 60%">KEPALA KANTOR PERTANAHAN</a>
<a style="margin-left: 60%">KOTA MATARAM</a>
<br>
<br>
<br>
<br>

<a style="margin-left: 60%">IMAM SUNARYO, SH</a>
<a style="margin-left: 60%">NIP. 1963112 1199203 1 001</a>
</center>
</div>
</div>
  </body>
</html>

<script src="js/vue.js"></script>
<script src="app.js"></script>
<!-- Menampilkan Data -->
<script type="text/javascript">
  var example1 = new Vue({
    el : '#app',
    data : {
      items : [],
      id : [],
    },
    created(){
      this.fetchdata();
    },
    methods : {
      fetchdata($id){
        const urlParams = new URLSearchParams(window.location.search);
        console.log(urlParams.has('id'));
        $id = urlParams.get('id');
        console.log($id);
        var self = this;
        db.collection('Data_SuratMandalika').doc($id)
        .get()
        .then((querySnapshot) => {
          console.log(querySnapshot.data());
          self.items.push(querySnapshot.data());
        // querySnapshot.forEach(doc => {
        //   // self.items = snapshot.docs
        //   self.items.push(doc.data());
        //   console.log(self.items);
        //   // console.log(doc.id);
        // })
      })
      }
    }
  });
</script>
